@page
@model BNState.Web.Areas.Dashboard.Pages.Admin.IndexModel
@{
}
<!-- Small boxes (Stat box) -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header" style="padding:0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="m-0" style="text-align:center;font-size: 1.38rem;font-weight:900;">ANALYSIS</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid card">
            
       

 
<div class="content-header" style="padding:1px 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="padding-left:0;">
                <h5 class="m-0" style="font-weight:900;"></h5>
            </div>
        </div>
    </div>
</div> 
<div class="row">
    @foreach (var item in Model.Dashboard)
    {
                    <div class="col-lg-3 col-6">
                        @{
                            string link = "";
                            if(item.ModelString == "Level1")
                            {
                                link = "Section";
                            }
                            else if (item.ModelString == "Level2")
                            {
                                link = "Levels";
                            }
                            else if (item.ModelString == "Level3")
                            {
                                link = "SectionLevels";
                            }
                            else if (item.ModelString == "Level3")
                            {
                                link = "SectionLevels2";
                            }
            }
            <!-- small box -->
            <a asp-page="./@link" asp-route-id="@item.Id" class="small-box-footer">
                            <div class="small-box @item.Color" style="margin-bottom: 7.5px;margin-top: 7.5px;">
                <div class="inner">
                                    <h3 style="white-space: normal;text-align: center;height: 35px;margin:auto;">
                                        @item.Title
                                    </h3>
                                    @if(item.OfficeCount == true){
                                        <p style="text-align: center;font-weight: 900;font-size: 2.0em;margin: 0;">@item.OfficeNumbers</p>
                                    }
                                    else if(item.UserCount == true)
                                    {
                                        <p style="text-align: center;font-weight: 900;font-size: 2.0em;margin: 0;">@item.UserNumbers</p>
                                    }
                                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                     
            </div></a>
        </div>
        <!-- ./col -->
    }

</div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
